# Directories to ignore
#######################
node_modules/
.idea/
__pycache__/
output/
dist/
scripts/source/CMA
scripts/source/CSD
scripts/source/DB
scripts/source/PMD/*

# Files to ignore
#######################
*.swp

# .gitignore exceptions
#######################
!/scripts/source/PMD/pmd.json
