/* Additional Style Rules */
.prx .mapboxgl-popup ul.popup-inner label {
	font-weight: normal;
}

.prx .mapboxgl-ctrl-group {
    overflow: initial;
}

.prx .toc .toc-item > *,
.prx .legend .legend-item > * {
    position: relative;
}

.prx .typeahead:not(.collapsed) ul,
.prx .typeahead .input { 
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.prx .typeahead .input {
	border: none;
}

.prx .table-widget table tbody tr td:not(:first-child) {
	text-align:right;
}

.prx .table-widget table thead tr th:not(:last-child) {
	text-align: right;
}

.prx .legend .legend-tickbox {
	display:none;
}